
.courses-container{
  display: flex;
  gap:50px;
  justify-content: center;
}
.courses-section{
  background-color: aliceblue;
  padding:4px 15px;
  /* box-shadow: 1px -4px 10px rgba(0,0,0,.2); */
  border-radius: 10px;
}
.courses-section h2{
  margin-bottom: 50px;
  border-bottom: .1rem solid grey;
  padding-bottom: 10px;
}
.courses{
  display: flex;
  justify-content: space-between;
}
.course{
  background-color: rgb(248, 225, 231);
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 20px 10px;
  border-radius: 10px;
}
.whatsapp-contact a{
  color:rgb(51, 51, 51);
  font-size: 30px;
  transform:scale(1);
  transition: transform 0.4s ease-in-out;
}
.whatsapp-contact a:hover{
  color:rgb(0, 155, 70);
  transform:scale(.8);
}
