.donation{
  height: 500px;
  display: flex;
  gap:40px;
  justify-content: center;
  align-items: center;
}
.donation-image{
  height: 100;
}
.donation-image img{
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .5;
}

.types-of-donation{
  /* text-align: center; */
  /* background-color: red; */
  padding:20px;
  gap:30px;
  justify-content: center;
}
.types-of-donation h1{
  text-align:center;
}
.btn-donation{
  display: block;
  text-decoration: none;
  border: none;
  pointer-events: none;
  color:rgb(16, 16, 16);
  background-color: bisque;
  width: fit-content;
  padding: 10px 20px;
}


.crd{
  /* height:auto; */
  background-color: white;
  padding:10px;
  border:none;
  outline: .2px solid darkgray;
  opacity: .9;
  border-radius: 18px;
}
.crd-inner{
  background-color: white;
  padding:10px;
  border:none;
  /* border-top: .2px solid red; */
  opacity: .9;
}

.transparency-and-utilization{
  /* width:80%; */
  margin: auto;
}