.ham-menu {
  display: none;
  cursor: pointer;
  margin-top: 10px;
}
.logo {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgb(248, 72, 72, .2), 2px 2px 2px rgb(2, 132, 2, .2),3px 3px 3px rgba(238, 56, 220, 0.2);
}
.slogan {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  margin-top: 20px;

}
header.container-fluid{
  height: 180px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}

.navigation {
  height: 80px;
  display: flex;
  justify-content: end;
  padding-top: 20px;
  width: 100%;
}

.brand-name {
  font-family: "galada", cursive;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.navigation-items li a {
  text-decoration: none;
}
.navigation-item {
  padding-top: 10px;
}

@media (max-width: 790px) {
  .navigation-items {
    position: absolute;
    background-color: bisque;
    display: none;
  }
  .navigation-items.active {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
  }
  .ham-menu {
    position: relative;
    display: inline;
    z-index: 99999;
  }
  .logo {
    display: none;
  }
  .navigation {
    justify-content: space-between;
  }
}
