/* hero section */
.hero {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: calc(100vh - 180px);
}

.book {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  z-index: -10000;
  opacity: 0.1;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-hero {
  width: 100%;
  height:200px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: 0.2; */
}

.about-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mission-img {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
}

.facebook {
  color: green;
  font-size: 3rem;
}

@media (min-width:389.98px) and (max-width: 991px) {
  header.container-fluid {
    height: 140px;
  }
  .nav-bar h4 {
    font-size: 1.1rem;
  }
}
