/* hero section */
.hero {
  border: 2px solid red;
}
.hero {
  position: relative;
  display: flex;
  gap: 40px;
  min-height: calc(100vh - 180px);
}

.background-image {
  position: absolute;
  left: 0;
  bottom: 0;
  /* height: 300px; */
  width: 100%;
}

.background-image img {
  /* position: absolute; */
  width: 100%;
  object-fit: fill;
  background-repeat: no-repeat;
  opacity: 0.1;
  /* background-size: cover; */
  /* overflow-y: hidden; */
}

.about-us {
  position: relative;
  left: 0;
  top: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* z-index: 100; */
}

