/* hero section */

.hero {
  /* border: 2px solid red; */
}
.hero {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: calc(100vh - 180px);
  /* overflow: hidden; */
}

.book {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  z-index: -10000;
  opacity: 0.1;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-image {
  width: 100%;
  height: 40%;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: -1000;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: contain;
}

.about-us,
.mission {
  position: relative;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: -100;
  /* border-bottom: 0.9px solid #333; */
  box-shadow: 2px 2px 2px rgba(1, 1, 1, 1, 0.7);
  padding: 10px 20px;
}

.about-us h1,
.about-us p {
  width: 70%;
}

.what-we-do-section {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* border: 1px solid aqua; */
}

.how-we-are-run-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.what-we-do {
  border: 1px solid rgb(172, 172, 171);
  padding: 10px 20px;
  border-bottom-right-radius: 20px;
}

.what-we-believe {
  display: flex;
  width: 400px;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid rgb(172, 172, 171);
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}
.what-we-believe h2,
.what-we-believe p {
  /* text-align: center; */
}

.how-we-are-run,
.affiliation-and-association {
  border: 1px solid rgb(172, 172, 171);;
  padding: 10px 20px;
  border-radius: 10px;
}

.mission-img {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
}

@media (min-width: 389.98px) {
  .hero {
    margin: 100px auto;
  }
  header.container-fluid {
    height: 140px;
  }
  .nav-bar h4 {
    font-size: 1.1rem;
  }
  .about-us h1,
  .about-us p {
    width: 90%;
  }
  .what-we-do-section {
    grid-template-columns: 1fr;
    height: auto;
    margin-bottom: 40px;
  }
}
