.projects{
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  line-height: .8;
}
.projects h1{
  font-weight: 600;
}
.projects p{
  width: fit-content;
  margin-left: auto;
  color: red;
  text-decoration: underline;
  text-decoration-color: black;
}

span{
  color:black;
}

.projects-text{
  padding: 30px;
  background: transparent;
  border:none;
  outline: 1px solid darkgray;
  border-top-right-radius: 20%;
  border-top-left-radius: 10%;

}
