.hero-section {
  position: relative;
  height: calc(100vh - 100px); /* Adjust height as needed */
  width: 100vw;
  overflow: hidden;
}

.hero-section #hero-video {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#hero-video > video {
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.hero-btn {
  --webkit-appearance: none;
  position: absolute;
  bottom: 30%;
  left: 30%;
  width: 30px;
}

.hero-btn a {
  width: 200px;
  background: transparent;
  outline: 0.5px solid #faf9f9;
  color: #fbd72b;
  border: none;
  transition: color 2s ease-in;
  transition: outline 2s ease-in;
  transition: width 0.2s ease-in-out;
  border-radius: 5px;
}
.hero-btn a:hover {
  color: rgb(248, 248, 248);
  outline: 0.5px solid rgb(250, 35, 2);
  box-shadow: 1px 1px 1px black;
  width: 198px;
}
.hero-image {
  position: relative;
  z-index: -10;
  bottom: -5rem;
  opacity: 0.9;
}

.programs {
  position: relative;
  bottom: -40px;
}
.user-action {
  /* background: linear-gradient(#faa2b0 9%, #fa96a5 25%, #f8aeb9 40%, #4c4c4c 100%); */
  width: fit-content;
  margin: auto;
  padding: 40px;
  gap: 80px;
  border: none;
  border-radius: 4px;
  outline: 0.1px solid #fadcdc;
  box-shadow: 1px 1px 1px rgb(242, 178, 188, 0.1) inset;
}
/* .mission{
  background:transparent;
  padding:40px 0;
  border:none;
  outline:.2px solid white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(1,1,1,1,1) inset;
} */
.community {
  color: red;
}
footer {
  position: relative;
  /* height: 400px; */
  /* width:100%; */
  background-color: rgb(249, 2, 2);
}
.foot-nav {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  gap: 30px;
  padding: 20px 0;
  padding-top: 60px;
  margin: 20px 0;
}
.footer-nav-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(2, 2, 2, 0.1);
}

.contact-options a,
.social-options a {
  text-decoration: none;
  color: black;
}
.footer-logo {
  height: 250px;
  width: 250px;
}
.foot-logo img {
  height: 100%;
  width: 100%;
}
.contact,
.social {
  text-align: center;
}

.contact-options,
.social-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  gap: 20px;
}

.copyright {
  background-color: black;
  height: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright .fa-copyright {
  color: rgb(249, 2, 2);
}

.books {
  position: absolute;
  bottom: 50%;
}

@media (min-width: 389.98px) and (max-width: 991px) {
  header.container-fluid {
    height: 140px;
  }
  .nav-bar h4 {
    font-size: 1.1rem;
  }
  .foot-nav {
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .contact,
  .social {
    text-align: center;
    /* margin-top: 20px; */
  }

  .contact-options {
    gap: 40px;
    text-align: center;
  }
}
