:root {
  --red: #b11226;
  --red-light: #fde8eb;
  --dark: #4a0a14;
  --body-background: linear-gradient(to bottom, var(--red-light), #fff);
  --primary-color: #333;
  --secondary-color: linear-gradient(315deg, #fef9e7 0%, #fddac5 74%);
  --secondary-body-background: linear-gradient(to bottom, #f9484a, #fbd72b);
}

body {
  background: var(--red-light);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* body {
  margin: 0;
  padding: 0;
  color: var(--secondary-body-background);
  letter-spacing: 0.1rem;
  line-height: 1.5;
  background: var(--body-background);
  background: var(--secondary-body-background);
} */
img {
  width: 100%;
  object-fit: contain;
}
/* .container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: auto;
}
.flex {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column; 
}*/

/* navigation */

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 100px;
  width: 100vw;
  background-color: #fff;
  padding-right: 20px;
}

.navbar .flex {
  justify-content: flex-end;
  gap: 70px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.navbar ul li a {
  text-decoration: none;
}
/* logo */
.logo {
  width: 250px;
  height: 250px;
  /* position: relative; */
  /* top: -70px; */
  /* left: -38px; */
}

.logo img {
  width: 100%;
  object-fit: contain;
}

/* hamgurger menu */

/* .hamburger-menu {
  position: absolute;
  top: -100px;
  height: 100px;
  width: 100px;
  background-color: red;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.dots {
  height: 2px;
  width: 30px;
  background-color: black;
  border-radius: 3px;
} */

/* hero section */

/* .hero {
  position: relative;
  height: 150vh;
  width: 100%;
  background-color: red;
} */

/* .hero .flex {
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;
} */

/* sloka */

/* .sloka {
  height: 18%;
  width: 700px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 10px;
  background-color: #f6f5f5;
  border: none;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0, 0.9);
} */

/* .sloka p {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 auto;
} */
/* #english-meaning {
  border-top: 5px solid #f80303;
  border-radius: 32px;
  padding: 20px;
  font-weight: 100;
  color: #7a7979;
  font-size: 0.9rem;
  line-height: 1.2;
} */

/* buttons */

/* .hero-btn-msg {
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  height: auto;
  background-color: #f6f5f5;
  border-radius: 5px;
  border: none;
  padding: 20px;
  border-right: 0.3px solid grey;
  border-top: 0.3px solid grey;
  margin-top: 100px;
} */
/* .hero-btn-msg a {
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  color: grey;
} */

/* .programs,
.donation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  height: auto;
  text-align: center;
} */
/* .programs h4,
.donation h4 {
  border-bottom: 1px solid #7a7979;
  margin-bottom: 10px;
}
.donation {
  padding-right: 20px;
  border-right: 1px solid #7a7979;
}
.programs {
  padding-left: 20px;
  border-left: 1px solid #7a7979;
} */

/* .donation-messsage {
  height: 100px;
  background-color: #f6f5f5;
} */

/* .donation-button,
.programs-button {
  background-color: #f6f5f5;
  background-color: #575757;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

/* .donation-button:hover,
.programs-button:hover {
  transform: scale(0.98);
} */

/* .donation-button.outline,
.programs-button.outline {
  background-color: transparent;
  border: 0.5px rgb(203, 203, 202) solid;
} */

/* books */

/* .books {
  position: absolute;
  bottom: -100px;
  background-color: beige;
} */

/* mission */
/* .mission {
  height: 800px;
  background-color: #333;
} */
.mission .flex {
  /* background-color: blanchedalmond; */
}
/* .mission-message {
  width: 400px;
  height: auto;
  border: transparent;
  border: 1px solid green;
  padding: 20px;
} */

/* .mission-image {
  width: 400px;
  transform: scaleX(-1);
} */

/* .mission-image img {
  width: 100%;
  object-fit: contain;
} */

/* .foot-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* max width 990px */
/* @media (max-width: 950px) {
  .logo {
    height: 200px;
    width: 200px;
  }
  .sloka {
    height: 200px;
    width: 480px;
  }
  .hero-btn-msg {
    flex-direction: column;
    width: 400px;
    height: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .donation,
  .programs {
    gap: 40px;
  }
} */

/* max width 760px */
/* @media (max-width: 780px) {
  .navbar ul {
    display: none;
  }
  .hamburger-menu {
    top: 0;
  }

  .mission .flex {
    flex-direction: column-reverse;
  }
} */

/* @media (max-width: 690px) {
  .sloka {
    width: 70%;
    padding: 15px;
    height: auto;
  }
  .sloka p {
    font-size: 0.9rem;
  }
  #english-meaning {
    font-size: 0.7rem;
    padding-bottom: 0;
  }
} */
.hero {
  /* background-image: url("/machamund/assets/library.jpg"); */
}

.programs {
  position: relative;
  margin-top: 1rem;
  z-index: 100;
}
.card {
  border-bottom: 1rem solid #e8e5e5;
  border-radius: 1rem;
}

.hero-section {
  position: relative;
  height: calc(100vh - 100px); /* Adjust height as needed */
  width:100vw;
}

#hero-video{
  position: absolute;
  top:0;
  left:0;
  z-index: -100;
  height: 100%;
  width: 100%;
}
#hero-video > video{
  width: 100%;
  object-fit: cover;
}