.hero-section {
  position: relative;
  height: calc(100vh - 100px); /* Adjust height as needed */
  width: 100vw;
  overflow: hidden;
}

.hero-section #hero-video {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#hero-video > video {
  width: 100%;
  object-fit: cover;
}

.hero-btn {
  position: absolute;
  bottom: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
  width: 30px;
}

.hero-btn a {
  width:200px;
  background: transparent;
  outline: .5px solid #faf9f9;
  color:#fbd72b;
  border: none;
  transition: color 2s ease-in;
  transition: outline 2s ease-in;
  transition: width .2s ease-in-out;
  border-radius: 5px;
}
.hero-btn a:hover {
  color: rgb(248, 248, 248);
  outline: 0.5px solid rgb(250, 35, 2);
  box-shadow: 1px 1px 1px black;
  width: 198px;
}
