:root {
  --red: #b11226;
  --red-light: #fde8eb;
  --dark: #4a0a14;
  --body-background: linear-gradient(to bottom, var(--red-light), #fff);
  --primary-color: #333;
  --secondary-color: linear-gradient(315deg, #fef9e7 0%, #fddac5 74%);
  --secondary-body-background: linear-gradient(to bottom, #f9484a, #fbd72b);
}

body {
  background: var(--red-light);
}

img {
  width: 100%;
  object-fit: cover;
}
