:root {
  --red: #b11226;
  --red-light: #fde8eb;
  --dark: #4a0a14;
  --body-background: linear-gradient(to bottom, var(--red-light), #fff);
  --primary-color: #333;
  --secondary-color: linear-gradient(315deg, #fef9e7 0%, #fddac5 74%);
  --secondary-body-background: linear-gradient(to bottom, #f9484a, #fbd72b);
}

body {
  background: var(--red-light);
  /* background: linear-gradient(#faa2b0 9%, #fa96a5 25%, #f8aeb9 40%, #4c4c4c 100%); */
}
.section-gap-lg {
  margin-top: 152px;
}
.section-gap-lg-bt {
  margin-bottom: 152px;
}
.section-gap-sm {
  margin-top: 80px;
}
img {
  width: 100%;
  object-fit: cover;
}
